
  .main-navigation{
    padding: 2rem;
    background-color: aliceblue;
  }
  
  ul{
    margin:0;
    padding:0;
  }
  
  .brand {
      position: absolute;
      text-decoration: none;
  }

  .menu{
    display:flex;  
    list-style:none;
    flex-direction:column;
  }
  
  .menu li{
    display:block;
    padding-right: 7%;
    text-transform:uppercase;
  }
  
  menu li a{
    display:flex;
    text-align:center;
    text-decoration:none;
    color:#777;
    padding:1rem;
  }
  
  menu li a:hover{
    background:#777;
    color:#fff;
    text-decoration: none;
  }

  .arrow-down {
    position: relative;
    top: 14px;
    left: 5px;
    width: 0;
    height: 0;
    border-left: 7px solid transparent;
    border-right: 7px solid transparent;
    border-top: 5px solid #004eff;
  }

  .sub-menu > li > a{
      cursor: pointer;
      z-index: 1;
  }
  
  @media (min-width: 800px) {
      .menu{
        flex-direction:row;
        justify-content:flex-end;
      }
  }
  
  @media (min-width: 800px) {
    nav ul ul {
      position:absolute;
    }
  }
  
  @media (min-width: 800px) {
    nav ul li > ul {
      background:aliceblue;
    }
    
    nav ul li > ul a{
      color:rgb(1, 100, 248);
    }
    
    .sub-menu {
        padding: 1rem;
        display: none;
    }

    .sub-menu li{
        display:flex;
        padding: 1rem 0rem;
    }
      
    .sub-menu li:hover, li a:hover{
        text-decoration: none;
    }
    
    nav ul ul ul{
      margin:0 0 0 100%;
      box-shadow: 0 0 2px rgba(0, 0, 0, 0.6);
    }
    
  }
  
  
  