<div class="row">
    <div class="col-md-12">
        <h1>{{recipeDetailInput.name}}</h1>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <div>
            <a type="button" class="btn btn-primary" onclick="toggleDropdownRecipeDetail()">
              Manage Recipe
            </a>
            <div class="dropdown-menu dropdown-menu-recipe-details" style="display:none">
              <a class="dropdown-item" href="#">Add to Recipe</a>
              <a class="dropdown-item" href="#">Another action</a>
              <a class="dropdown-item" href="#">Delete Recipe</a>
            </div>
          </div>
    </div>
</div>

<div class="row">
    <div class="col-md-12 mt-3">
        {{recipeDetailInput.description}}
        <img class="image-recipe" src="{{recipeDetailInput.imagePath}}">
    </div>
</div>